.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {
    width: 400px; 
    padding: 25px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
}